<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/statics/assets/images/favicon.ico">
    <!-- Bootstrap Css -->
    <link href="/statics/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/statics/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/statics/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body data-sidebar="dark">
    <!-- <body data-layout="horizontal" data-topbar="dark"> -->
    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <a href="index.html" class="logo logo-dark">
                            <span class="logo-sm">
                                    <img src="/statics/assets/images/logo.svg" alt="" height="22">
                                </span>
                            <span class="logo-lg">
                                    <img src="/statics/assets/images/logo-dark.png" alt="" height="17">
                                </span>
                        </a>
                        <a href="index.html" class="logo logo-light">
                            <span class="logo-sm">
                                    <img src="/statics/assets/images/logo-light.svg" alt="" height="22">
                                </span>
                            <span class="logo-lg">
                                    <img src="/statics/assets/images/logo-light.png" alt="" height="19">
                                </span>
                        </a>
                    </div>
                    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
                            <i class="fa fa-fw fa-bars"></i>
                        </button>
                    <!-- App Search-->
                    <form class="app-search d-none d-lg-block">
                        <div class="position-relative">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="bx bx-search-alt"></span>
                        </div>
                    </form>
                </div>
                <div class="d-flex">
                    <div class="dropdown d-inline-block d-lg-none ml-2">
                        <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-magnify"></i>
                            </button>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0" aria-labelledby="page-header-search-dropdown">
                            <form class="p-3">
                                <div class="form-group m-0">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="dropdown d-none d-lg-inline-block ml-1">
                        <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                                <i class="bx bx-fullscreen"></i>
                            </button>
                    </div>
                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="rounded-circle header-profile-user" src="/statics/assets/images/users/avatar-1.jpg"
                                    alt="Header Avatar">
                                <span class="d-none d-xl-inline-block ml-1" key="t-henry">Admin</span>
                                <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                            </button>
                    </div>
                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                                <i class="bx bx-cog bx-spin"></i>
                            </button>
                    </div>
                </div>
            </div>
        </header>
        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">
            <div data-simplebar class="h-100">
                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title" key="t-menu">Menu</li>
                        <li>
                            <a href="javascript: void(0);" class="waves-effect">
                                <span key="t-dashboards">Dashboards</span>
                            </a>
                        </li>
                        <li class="menu-title" key="t-apps">Manager</li>
                        <li>
                            <a href="/novel" class="waves-effect">
                                <i class="bx bx-file"></i>
                                <span key="t-chat">Novels</span>
                            </a>
                        </li>
                        <li>
                            <a href="/queue" class="waves-effect">
                                <i class="bx bx-calendar"></i>
                                <span key="t-calendar">Crawl Queues</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">Hàng đợi</h4>
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Trang chủ</a></li>
                                        <li class="breadcrumb-item active">Hàng đợi</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row">
                        <div class="col-6">
                            <div class="card">
                                <form class="card-body" action="/queue_add" method="POST">
                                    <h4 class="card-title">Nhập đường dẫn và nguồn trích</h4>
                                    <p class="card-title-desc">Hàng đợi sẽ được <code>tự động crawl</code> vào lúc <code>23:00</code> <code>hằng ngày</code>.</p>
                                    <div class="form-group row">
                                        <label for="example-url-input" class="col-md-2 col-form-label">URL</label>
                                        <div class="col-md-10">
                                            <input name="url" id="url" class="form-control" type="url" value="" id="example-url-input">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label">Nguồn</label>
                                        <div class="col-md-10">
                                            <select name="source" id="source" class="form-control">
                                                <option value="wuxiaworld.com"selected>WUXIAWORLD.COM</option>
                                                <option value="novelfull.com">NOVELFULL.COM</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div style="display: none;" class="form-group row">
                                        <div class="col-md-10">
                                            <input name="category" id="category" class="form-control" type="text" value="" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label">Thể loại</label>
                                        <div class="col-md-10">
                                            <select  style="height: 50vh;" multiple name="category_select" id="category_select" class="form-control">
                                                {{range $cate := .categories}}
                                                <option value="{{.id}}">{{.title}}</option>
                                                {{end}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <button type="submit" id="add_queue" type="button" class="form-control">Thêm vào hàng đợi</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <form class="card-body" action="/queue_add" method="POST">
                                    <h4 class="card-title">Preview</h4>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <button type="submit" id="get_preview" type="button" class="form-control">Xem thông tin</button>
                                        </div>
                                    </div>
                                    <div class="form-group row" id="information">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>
                                document.write(new Date().getFullYear())
                            </script> © Skote.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right d-none d-sm-block">
                                Crawl Novel
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div class="rightbar-overlay"></div>
    <script src="/statics/assets/libs/jquery/jquery.min.js"></script>
    <script src="/statics/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/statics/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="/statics/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/statics/assets/libs/node-waves/waves.min.js"></script>
    <!-- App js -->
    <script src="/statics/assets/js/app.js"></script>
    <script src="/statics/assets/js/main.js"></script>
</body>

</html>